body{
    margin:8px auto;
    min-width:496px;
    max-width:1024px;
    line-height:1.25;
    font-size:20px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#000000;
    padding:8px;
    text-align: justify
}

.container{
    position: relative;
    max-width: 1024px;
    font-size: 20px;
    margin: 0px
}

.splitimg{
    display:block;
    margin-right:auto;
    margin-left:auto;
    text-align:center
}

@media screen and (min-width:1056px) {
    .splitimg{
        float:left;
    }
}

h1{
    line-height:1.2;
    margin-top: 2em;
    font-size: 40px;
    color: #602080
}

h2,h3{
    line-height:1;
    margin-top: 0em;
    font-size: 28px;
    color: #602080
}

a{
    color: #808080
    /* color: #4793ff;  */
}
