body{
    margin:8px auto;
    max-width:1024px;
    line-height:1.2;
    font-size:20px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#000000;
    padding:8px;
    text-align: justify
}


/* p{
    text-align: justify;
    font-size: 20px;
}

ol{
    text-align: justify;
    font-size: 20px
}

ul{
    text-align: justify;
    font-size: 20px
} */



.container{
    position: relative;
    max-width: 1024px;
    font-size: 20px;
    background-color:lightgrey;
    margin: 8px
}

.splitcont{
    position: relative;
    max-width: 1024px;
    font-size: 20px;
    /* background-color:lightgrey; */
}

.splitimg{
    display:block;
    margin-right:auto;
    margin-left:auto;
    text-align:center
}

@media only screen and (min-width:1016px) {
    /* .splitcont{
        background-color:grey
    } */
    .splitimg{
        float:left;
    }
}

h1,h2,h3{
    line-height:1.2;
    margin-top: 2em;
    font-size: 40px;
    color: #602080
}

a{
    color: #808080
    /* color: #4793ff;  */
}
